.error{
    height: 600px !important;
}
.tilldown{
    padding-top: 50px;
    font-size: 30px;
}
button{
    background-color: green;
    color: white;
    border-radius: 20px;
    box-shadow: 5px 7px 3px orange;
    padding: 12px;
    font-size: 22px !important;
}
    

.cent{
    margin-left: 50px;
    margin-bottom: 17px;
}
.cen{
    text-align: center;
}